aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
aside.logo a {
    text-align: center;
}
aside.logo img {
    padding: 0px 15px;
    width: 50%;
}

@media  screen and (max-width: 768px) {
    aside.logo img {
        padding: 0px 15px;
        width: 100px;
    }
    aside.logo a {
        text-align: center;
    }
}